ion-content{
  .header{
    width: 100%;
    display:flex ;
    justify-content: center;
    background-color: #EBDC8E;
    h5{
      padding: 40px;
      color: white;
      font-weight: bold;
    }
  }

  ion-button{
    width: 100%;
    --background: #EBDC8E;
    color: white;
    margin-top: 20px;
  }
}

ion-footer{

  width: 100%;
  display: flex;
  justify-content: center;
  ion-button{
      width: 80%;
      --background: #EBDC8E
  }
}